# =========================
# Build outputs (C++ / Visual Studio)
# =========================
x64/
Debug/
Release/
bw/
Breeze waVE/

.vs/

# =========================
# Solution / project files
# =========================
*.slnx
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

*.obj
*.log
*.tlog
*.ilk
*.pdb
*.idb
*.ipdb
*.cache

.git/